.post{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
  
}
.div{
background-color: gray;
width: 80%;
margin-left: 130px;
padding: 30px;
margin-top: 30px;

}
.body{
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.posts{
   
    width: 80%;
    border: 2px solid teal;
    padding: 15px;
    margin-left: 100px;
    margin-top: 20px;

}
.con{
    display: flex;
}
.bos{
   padding: 50px;
}
b{
    font-size: 25px;
}

